<div class="article-container">
  <h1 class="title is-3 is-4-mobile"><%-page.title%></h1>
  <article>
      <div class="contents">
        <%- toc(page.content, {list_number:false}) %>
      </div>
      <%-page.content%>
  </article>
  <%- partial('partials/comment') %>
</div>