<nav class="pagination is-centered" role="navigation" aria-label="pagination">
    <a class="pagination-previous shadow" href="<%= page.prev_link ? config.root + page.prev_link : '.'%>">Previous</a>
    <a class="pagination-next shadow" href="<%= page.next_link ? config.root + page.next_link : '.'%>">Next Page</a>
</nav>